body {
    font-size: 14px;
    color: 	#303030;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    margin-left: 0px;
    margin-top: 0px;
}

div.image {
    background-color: #7b58cf;
    color: black;
    text-align: center;
    font-weight: 1000;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

h1 {
    margin-bottom: 0;
    display: inline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}

label {
    width: 120px;
    text-align: right;
}

input[type="text"] {
    width: 300px;
}
input[type="submit"] {
    width: 75px;
}

ul {
    padding-left: 0;
    margin-left: 12px;
}