{% extends 'bootstrap/base.html' %}
<html>
   
    {% block title %}Tankui Racing Leaderboard{% endblock %}
    
    {% block content %}
    <body>
        <link href="static/style.css" rel="stylesheet" type="text/css" media="all">

        <center>
            <h1>Tankui Racing Leaderboard Entry Page</h1>
            
<!--       Change image later      -->
<!--             <img src="{{url_for('static', filename='racer.png')}}" /> -->

            

            <!-- Add a note -->
            <form class="form-inline" action="" method="post" novalidate>
                {{ add_form.hidden_tag() }}
                <p>
                    {{ add_form.note_field.label }}
                    {{ add_form.note_field(size=32) }}
                    {{ add_form.add() }}
                </p>
            </form>
            <!-- Delete a note -->
            <form class="form-inline" action="" method="post" novalidate>
                {{ delete_form.hidden_tag() }}
                <p>
                    {{ delete_form.id_field.label }}
                    {{ delete_form.id_field(size=2) }}
                    {{ delete_form.delete() }}
                </p>
            </form>    
            <!-- Display messages about adding/deleting notes -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <!-- Display all notes in list -->
            {% for note in notes %}
                <div class="notes"><p>{{ note }}</p></div>
            {% endfor %}
        </center>
    </body>
    {% endblock %}
</html>
